<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>


   
    {% block scripts %}
   
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" >

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <!-- script src="https://code.jquery.com/jquery-3.6.0.min.js"></script -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script -->
    <!-- script src="{{ url_for('static', filename='js/bootstrap.bundle.4.5.3.min.js') }}"></script -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.5.0.2.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script-->
    <script src="{{ url_for('static', filename='js/jquery-ui.1.12.1.js') }}"></script>
    <!-- script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js" defer></script -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.1.11.4.js') }}"></script>
     <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  {% endblock %}


</head>

<body>
<div class="row border  justify-content-center" style="background-color: #9E213F;">
    <img src="{{url_for('static', filename='iconos/cintillo.png')}}" style="width: 30%;color:white !important; background-color: #9E213F;"/>
</div>
<div class="d-flex" id="wrapper" style="">

    <!-- Sidebar -->
    <div class="bg-green-strong  bg-light   text-secondary border-end " id="sidebar-wrapper"   >
        <!-- theme_white  border-secondary-->
        <div class="sidebar-heading border-bottom  p-0 m-0 m-0  row justify-content-center">
            <!-- img src="{{url_for('static', filename='iconos/escudogn.png')}}" style="width: 100px;color:white !important;"/--></div>
        <div class="list-group list-group-flush bg-green-strong-sm   bg-light   menuI" >
            <a href="#" class="list-group-item list-group-item-action  bg-transparent text-secondary negrita">Menu </a>
            <a href="{{ url_for('registro') }}" class="list-group-item list-group-item-action bg-transparent text-secondary  ">Registro</a>
            <a href="{{ url_for('uploaderFlk') }}" class="list-group-item list-group-item-action bg-transparent text-secondary ">Subir imagen flk</a>
            <a href="{{ url_for('consul_reg') }}" id='consulRegistros' class="list-group-item list-group-item-action bg-transparent text-secondary">Consulta registros</a>
            <a href="{{ url_for('registro_us') }}" class="list-group-item list-group-item-action bg-transparent text-secondary">Registrar usuario</a>
            <a href="{{ url_for('registro_ele') }}" class="list-group-item list-group-item-action bg-transparent text-secondary">Registrar elemento</a>
            <a href="{{ url_for('consul_usuarios') }}" class="list-group-item list-group-item-action bg-transparent text-secondary">Administracion de Usuarios</a>
            <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action bg-transparent text-secondary">Salir</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class=" main-header navbar navbar-expand-md bg-light text-secondary  bg-green-strong mb-gold border-secondary" >
             <!-- theme_white  border-secondary-->
       
             <i class="fa fa-bars  border-secondary p-2 m-1 rounded  text-secondary" id="menu-toggle" style="color:black"></i>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-secondary" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                   
                    
                </ul>
            </div>
        </nav>


        <div class="container-fluid col-md-11 mt-1" style="border: 0px solid #ccc ;" >
           {% block content %}

                
        
           {% endblock %}
           
           <div class="response"></div>

        </div>


    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>
        

<!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
              <div class="modal-dialog  mt-5  " >
                   <div class="clearfix  mt-5  text-center">
                      <div class="spinner-border  " role="status" style="color: white">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                
               </div>
            </div>

          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lx col-md-12 " style='max-width: 80%;border:1px solid red'>
                <div class="modal-content" >
                  <div class="modal-header">
                    <h5 class="modal-title-img" id="exampleModalToggleLabel">Modal 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Show a second modal and hide this one with the button below.
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Hide this modal and show the first with the button below.
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                  </div>
                </div>
              </div>
            </div>






<!-- Menu Toggle Script -->
<script>

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>